@font-face {
  font-family: "Cera Pro", sans-serif;
  src: url("./fonts/CeraPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Cera Pro Light", sans-serif;
  src: url("./fonts/CeraPro-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Geometria", sans-serif;
  src: url("../fonts/Geometria") format("truetype");
  font-style: normal;
  font-weight: normal;
}

:root {
  --color-orange: #ff7715;
  --color-white: #fff;
  --color-black: #191919;
  --color-blue: #2e75ff;
  --color-gray: #9c9c9c;
}
* {
  box-sizing: border-box;
}
body,
html {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  min-height: 100vh;
}

body,
html,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body * {
  color: var(--color-black);
  font-family: "Cera Pro", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-orange {
  border: none;
  padding: 0;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 183px;
  height: 48px;
  background-color: var(--color-orange);
  font-family: Cera Pro, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: var(--color-white);
}

section {
  display: flex;
  width: 100%;
  max-width: 1277px;
}
main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

header * {
  display: flex;
}
header section {
  justify-content: space-between;
}
header .top-bar,
header .bottom-bar {
  width: 100%;
  align-items: center;
  justify-content: center;
}
header .top-bar {
  height: 60px;
  border-bottom: 1px solid #d4d4d4;
}

header .btn-burger {
  display: none;
}

header .top-bar .nav-top {
  align-items: center;
  gap: 22px;
}

.searchBox {
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 460px;
  padding-bottom: 4px;
  border-bottom: 1px solid #d4d4d4;
}
.searchBox img {
  position: absolute;
  right: 1px;
}
.searchBox input {
  width: 100%;
  border: none;
}

header .basket img {
  align-self: flex-end;
  width: 20px;
  height: 20px;
}
header .basket-counter {
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: var(--color-white);
  background-color: var(--color-orange);
}
header .top-bar .right-nav .location {
  align-items: center;
  gap: 4px;
  font-weight: 500;
  margin-left: 15px;
}
header .top-bar .right-nav .phone {
  align-items: center;
  margin-left: 22px;
}
header .top-bar .right-nav .phone a {
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}
header .top-bar nav li a {
  text-decoration: none;
}
header .bottom-bar section {
  flex-direction: column;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}
header .bottom-bar .nav-top,
header .bottom-bar .basket {
  display: none;
}
header .sub-header,
header .breadcrumbs {
  width: 100%;
  margin-top: auto;
}
header .sub-header {
  justify-content: space-between;
}
header .sub-header nav {
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 16px;
}
header .sub-header nav li a {
  text-decoration: none;
  font-weight: 500;
}
header .sub-header nav li:nth-child(1) {
  gap: 9px;
}

header .btn-header-bottom {
  display: none;
}
header .breadcrumbs {
  gap: 10px;
}

header .breadcrumbs li a {
  text-decoration: none;
}

header .breadcrumbs li:nth-child(1) a {
  color: var(--color-orange);
}

footer,
footer * {
  display: flex;
  color: var(--color-white);
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--color-black);
  padding: 85px 0 145px 0;
  margin-top: auto;
}

footer section {
  flex-direction: column;
  align-items: center;
}
footer .footer-columns {
  justify-content: space-between;
  width: 100%;
}

footer section > .logo-footer:first-child {
  display: none;
}
footer .logo-footer {
  width: 217px;
  height: 42px;
}

.footer-col .article-tittle h3 {
  font-size: 18px;
}
.footer-col ul li,
.footer-col ul li a {
  font-size: 14px;
  font-family: "Cera Pro Light";
}
.footer-col .social {
  gap: 12px;
}
footer .footer-col a {
  text-decoration: none;
}
footer .footer-col,
footer .footer-col article,
footer .footer-col article ul {
  flex-direction: column;
}
footer .footer-first-col {
  max-width: 285px;
  gap: 30px;
}
footer .footer-first-col .article-tittle {
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer-first-col .article-tittle a {
  font-size: 14px;
}

footer .footer-first-col ul li {
  font-size: 12px;
}

footer .footer-col article ul {
  margin-top: 25px;
  gap: 21px;
}

footer .footer-catalog {
  max-width: 125px;
}

/*-------------media-query-----------------------*/
@media screen and (max-width: 1300px) {
  section {
    max-width: 900px;
  }

  header .top-bar,
  header .bottom-bar .nav-bottom,
  header .bottom-bar .basket-counter {
    display: none;
  }
  header .bottom-bar .nav-top,
  header .bottom-bar .basket,
  header .btn-burger {
    display: flex;
  }
  header .bottom-bar .nav-top {
    margin-left: 30px;
  }
  header .bottom-bar .sub-header {
    justify-content: flex-start;
  }
  header .bottom-bar .basket {
    align-items: center;
    justify-content: center;
  }
  header .bottom-bar .basket img {
    align-self: unset;
    width: 24px;
    height: 24px;
  }
  header .bottom-bar .right-nav {
    margin-left: auto;
    gap: 15px;
  }
  /* -------------footer-----------------*/
  footer {
    padding: 50px 0 80px 0;
  }
  footer .footer-columns {
    margin-top: 70px;
  }
  footer section > .logo-footer:first-child {
    display: flex;
  }
  footer .footer-first-col {
    max-width: 161px;
    order: 5;
  }
  footer .footer-first-col .article-tittle {
    gap: 20px;
  }
  footer .footer-first-col .logo-footer {
    display: none;
  }
}
@media screen and (max-width: 880px) {
  section {
    max-width: 335px;
  }

  header .top-bar {
    display: flex;
    height: 60px;
  }
  header .top-bar .right-nav {
    width: 100%;
    justify-content: space-between;
  }

  header .top-bar .nav-top,
  header .top-bar .searchBox,
  header .top-bar .basket,
  header .bottom-bar .nav-top,
  header .bottom-bar .btn-header-top {
    display: none;
  }
  header .bottom-bar section {
    height: 170px;
    gap: 20px;
  }
  header .bottom-bar .breadcrumbs,
  header .top-bar .right-nav .location,
  header .bottom-bar .sub-header {
    margin: 0;
  }

  header .btn-header-bottom {
    width: 100%;
    display: flex;
  }

  /* -------footer---------- */

  footer {
    padding: 50px 0;
  }
  footer .logo-footer {
    width: 157px;
    height: 30px;
  }
  footer .footer-columns {
    flex-wrap: wrap;
    column-gap: 21px;
    row-gap: 60px;
  }
  footer .footer-col:not(.footer-first-col) {
    width: 157px;
  }
  footer .footer-col article ul {
    gap: 15px;
  }
  footer .footer-contacts {
    order: 2;
  }
  footer .footer-catalog {
    order: 2;
    max-width: unset;
  }
  footer .footer-first-col {
    max-width: unset;
  }
  footer .footer-first-col .article-tittle {
    flex-direction: column;
  }
  footer .footer-col .article-tittle * {
    font-weight: 700;
    font-size: 16px;
  }
  footer .footer-col ul * {
    font-size: 16px;
  }
}
