section {
  max-width: 1286px;
}
main,
main * {
  display: flex;
}
main {
  position: relative;
  padding: 53px 0 84px 0;
  align-items: center;
}

.blogPage {
  flex-direction: column;
}

.blogPage .blog-header {
  align-items: center;
  justify-content: space-between;
}
.blogPage .blog-header h1 {
  color: var(--color-black);
  font-family: "Geometria", sans-serif;
  font-style: normal;
  line-height: 130%;
  font-weight: 700;
}

.blogPage .blog-header h1 {
  font-size: 50px;
}

.blogPage nav {
  gap: 28px;
  align-items: center;
}

.blogPage .search {
  gap: 10px;
  width: 130px;
  align-items: center;
}
.blogPage select {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
}
.blogPage .search input {
  border: none;
  width: 100%;
}
.blogPage .search img {
  width: 18px;
  height: 18px;
}
.blog-container {
  justify-content: space-between;
  padding: 67px 0 80px 0;
}

.blog-container article {
  max-width: 675px;
  flex-direction: column;
}
.blog-container .title,
.img-gallery h2 {
  color: var(--color-black);

  font-family: "Geometria", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.blog-container .author {
  align-items: center;
  margin-top: 56px;
  gap: 14px;
}
.blog-container .author img {
  width: 74px;
  height: 74px;
  border-radius: 50%;
}
.blog-container .info {
  flex-direction: column;
}
.blog-container .info .dateTime {
  color: var(--color-gray);
}
.blog-container .text {
  flex-direction: column;
  font-size: 16px;
}
.blog-container .text * {
  font-size: 16px;
}

.blog-container .text p,
.blog-container .text p b {
  display: inline !important;
}
.blog-container .text p b {
  color: #ff7715;
  font-weight: 700;
}
.blog-container .text p {
  margin-block-start: 25px;
  margin-block-end: 25px;
}
.blog-container .text p:nth-child(n + 2) {
  margin-block-start: 0;
}
.blog-container .text p:nth-last-child(1) {
  margin-block-end: 0;
}

.blog-container aside {
  flex-direction: column;
  max-width: 441px;
}
.blog-container .slider {
  position: relative;
  width: 100%;
  height: 334px;
}
.blog-container .slider .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-container .slider .controls {
  position: absolute;
  right: 34px;
  bottom: 22px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 96px;
  height: 52px;
  border-radius: 6px;
  background-color: var(--color-black);
}
.blog-container .slider .controls .btn-next {
  width: 37px;
  height: 37px;
  cursor: pointer;
}
.blog-container aside .banner {
  width: 441px;
  height: 600px;
  margin-top: 46px;
}
.blog-container aside .banner img {
  width: 100%;
}
.blog-container .slider .controls * {
  color: var(--color-white);
}

.img-gallery {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-gallery .img-container {
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 21px;
}
.img-gallery .img-container img {
  width: 413px;
  height: 348px;
  object-fit: cover;
}
.img-gallery .btn-orange {
  margin-top: 34px;
}
@media screen and (max-width: 1300px) {
  .blogPage .blog-header {
    margin-top: 20px;
  }
}

@media screen and (max-width: 880px) {
  main {
    justify-content: center;
  }
  .blogPage {
    justify-content: center;
    max-width: unset;
    width: 100%;
  }
  .blogPage .blog-header h1 {
    font-size: 30px;
  }
  .blogPage nav {
    display: flex;
    gap: 10px;
  }
  .blogPagenav .search {
    width: fit-content;
    gap: 5px;
  }
  .blogPagenav .search input {
    display: none;
    width: 100px;
  }
  .blogPage .blog-header {
    width: 100%;
    max-width: 335px;
    margin: 0 auto;
    border: none;
  }
}
